<html>

<head>
    <title> WhetherDawn</title>
    {% load static %}
    <script type="text/javascript" src="{% static "js/weather.js" %}"> </script>
    <script type="text/javascript" src="{% static "js/placing.js" %}"> </script>
    <link rel="stylesheet" type="text/css" href="{% static "plain.css" %}">
</head>
<body onresize="contentLifting()" onload="contentLifting()">

    <div class="blue rigid strip" id="cap" align="left">
        <div id="moscow">
            <script type="text/javascript">
                drawMoscow();
                setInterval( drawMoscow, 600000);
            </script>
        </div>
        <div id="location">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="location">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}
                <div class="location">
                    <input type=submit value='OK, calculate' id="ok"> </input>
                </div>

                <div class="results">
                    <p>
                    <br> Sunrise time: {{ results.time_rise }} </br>
                    <br> Sunset time:  {{ results.time_set }} </br>
                    </p>
                </div>

            </form>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>
