<html>

<head>
    <title> WhetherDawn</title>
    {% load static %}
    <script type="text/javascript" src="{% static "js/weather.js" %}"> </script>
    <script type="text/javascript" src="{% static "js/placing.js" %}"> </script>
    <link rel="stylesheet" type="text/css" href="{% static "plain.css" %}">

</head>

<body>
    <div class="wrapper">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="dark-gray">
            <br> Sergium </br>
            <br> Koalic </br>
            <br> Moscow </br>
        </footer>
    </div>

</body>

</html>
