{% extends "WhetherDawnUp/base.html" %}
{% block content %}

<div class="vfill"> </div>

<div id="parameters" class="parameters">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="labelofpar"> {{ field.label_tag }} </div>

        <div class="parameter"> {{ field }} </div>

        {% endfor %}
        <div class="output">
            <p> Sunrise time: </p>
            <p> {{ results.time_rise }} </p>
            <p> Sunset time: </p>
            <p> {{ results.time_set }} </p>
        </div>

        <div class="ok">
            <input type=submit value='Ok' class="oki"> </input>
        </div>
    </form>
</div>

<div class="thinvfill"> </div>

<div class="content">
    <div class="bubble" style="left: 0%; top: 0%;">
        <p> Moscow coordinates:</p>
        <table>
            <tr> <td> Latitude</td> <td> 55.7519&#176 </td> </tr>
            <tr> <td> Longitude</td> <td> 37.6156&#176 </td> </tr>
            <tr> <td> Elevation above sea level </td> <td> 144 m </td> </tr>
        </table>
    </div>
    <p> Проснись, на востоке уже встало пиво. </p>
    <p> Смотри, рядом с пивом забрезжило солнце. </p>
    <p> Учти, это солнце сейчас станет блюзом. </p>
    <p> Поверь, этих блюзов надолго не хватит...  </p>
</div>

{% endblock %}
