{% extends "WhetherDawnUp/base.html" %}
{% block content %}
<div class="vfill"> </div>
<div class="content">
    <p> Moscow coordinates:</p>
    <table>
        <tr> <td> Latitude</td> <td> 55.7519&#176 </td> </tr>
        <tr> <td> Longitude</td> <td> 37.6156&#176 </td> </tr>
        <tr> <td> Elevation above sea level </td> <td> 144 m </td> </tr>
        <tr> <td> Sunrise time </td> <td> {{ results.time_rise }} </td> </tr>
        <tr> <td> Sunset time </td> <td> {{ results.time_set }} </td> </tr>
    </table>
</div>

<div class="thinvfill"> </div>

<div id="parameters" class="parameters">
    <div class="filler" style="position: relative; top: 5%"> </div>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="labelofpar">
            {{ field.label_tag }}
        </div>

        <div class="parameter">
            {{ field }}
        </div>

        <div class="filler"> </div>

        {% endfor %}

        <div class="parameter">
            <input type=submit value='Ok'> </input>
        </div>

        <div class="filler"> </div>

    </form>
</div>

{% endblock %}
