{% extends "WhetherDawnUp/base.html" %}
{% block content %}
{% load static %}

<header class="adorable strip" id="cap" align="left">
    Enjoy the sunlight
</header>
<div class="adorable" id="iodata">
    <form action="" method="post">
        {% csrf_token %}
        <div class="idata">
            {% for field in form %}
            <div class="idataitem">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="idataitem">
                <input type=submit value='OK, calculate' id="ok"> </input>
            </div>
        </div>

        <div class="odata">
            <p>
            <br> Рассвет: {{ results.time_rise }} </br>
            <br> Sunset time:  {{ results.time_set }} </br>
            </p>
        </div>
    </form>
</div>

<div class="blue strip">
    <div id="moscow">
        <script type="text/javascript">
drawMoscow();
setInterval( drawMoscow, 600000);
        </script>
    </div>
    <div id="peter">
        <script type="text/javascript">
var pdata = getWeatherData(498817, 0, 0);
setInterval( getWeatherData, 600000);
document.getElementById("peter").innerHTML  = getInfo(pdata);
        </script>
    </div>
</div>
<div class="dark-gray narrow strip">
    <div id="nurlat">
        <script type="text/javascript">
var ndata = getWeatherData(516716, 0, 0);
setInterval( getWeatherData, 600000);
document.getElementById("nurlat").innerHTML  = getInfo(ndata);
        </script>
    </div>
</div>

{% endblock %}
