/*colorscheme*/
.primary-0 { color: #578cb5 }       /* Основной Цвет */
.primary-1 { color: #578cb5 }
.primary-2 { color: #633d9c }
.primary-3 { color: #a6abb5 }
.primary-4 { color: #d4d9db }

.secondary-a-0 { color: #ffff0a }   /* Вторичный Цвет A */
.secondary-a-1 { color: #85a67a }
.secondary-a-2 { color: #4fa833 }
.secondary-a-3 { color: #bfe3ba }
.secondary-a-4 { color: #bfe3ba }

.secondary-b-0 { color: #f7995c }   /* Вторичный Цвет B */
.secondary-b-1 { color: #f7995c }
.secondary-b-2 { color: #e05e1f }
.secondary-b-3 { color: #d9ba8c }
.secondary-b-4 { color: #f0d6ab }


/* RGBA коды */

.primary-0 { color: rgba( 87, 140, 181, 1) }        /* Основной Цвет */
.primary-1 { color: rgba( 87, 140, 181, 1) }
.primary-2 { color: rgba( 99,  61, 156, 1) }
.primary-3 { color: rgba(166, 171, 181, 1) }
.primary-4 { color: rgba(212, 217, 219, 1) }

.secondary-a-0 { color: rgba(255, 255,  10, 1) }    /* Вторичный Цвет A */
.secondary-a-1 { color: rgba(133, 166, 122, 1) }
.secondary-a-2 { color: rgba( 79, 168,  51, 1) }
.secondary-a-3 { color: rgba(191, 227, 186, 1) }
.secondary-a-4 { color: rgba(191, 227, 186, 1) }

.secondary-b-0 { color: rgba(247, 153,  92, 1) }    /* Вторичный Цвет B */
.secondary-b-1 { color: rgba(247, 153,  92, 1) }
.secondary-b-2 { color: rgba(224,  94,  31, 1) }
.secondary-b-3 { color: rgba(217, 186, 140, 1) }
.secondary-b-4 { color: rgba(240, 214, 171, 1) }

    /*background: rgba( 87, 140, 181, 0.3);        [> Основной Цвет <]*/
    /*background: rgba( 87, 140, 181, 0.3);*/
    /*background: rgba( 99,  61, 156, 0.3);*/
    /*background: rgba(166, 171, 181, 0.3);*/
    /*background: rgba(212, 217, 219, 0.3);*/

    /*background: rgba(255, 255,  10, 0.3);    [> Вторичный Цвет A <]*/
    /*background: rgba(133, 166, 122, 0.3);*/
    /*background: rgba( 79, 168,  51, 0.3);*/
    /*background: rgba(191, 227, 186, 0.3);*/
    /*background: rgba(191, 227, 186, 0.3);*/

    /*background: rgba(247, 153,  92, 0.3);    [> Вторичный Цвет B <]*/
    /*background: rgba(247, 153,  92, 0.3);*/
    /*background: rgba(224,  94,  31, 0.3);*/
    /*background: rgba(217, 186, 140, 0.3);*/
    /*background: rgba(240, 214, 171, 0.3);*/

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0);
    color: #F7995C;
}
table, tbody, tr, td {
    color: inherit;
    overflow: hidden;
    width: inherit;
}
h1 {
    font-size: 50pt;
    color: #ffffff;
    position: fixed;
    left: 25%;
    z-index: 0;
    background: #578cb5;
    position: fixed;
    top: 5px;
}
h2 {
    font-size:1.2em;
    /*color: #93a1a1;*/
}
p {
    background: rgba(191, 227, 186, 0);
    font-size: 1em;
    font-weight: normal;
    color: inherit;
}
form {
    background: rgba(255, 255, 255, 1);
}
button {
    max-width: 50%;
    width: 200px;
    max-height: 10%;
    height: 35px;
    position: absolute;
    left: 45%;
    overflow: hidden;
}
input {
    max-width: 100%;
    width: 200px;
    height: 1.5em;
    border: 0px solid #e5e5e5;
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    padding: 0.1em;
    padding-left: 0.5em;
    background: rgba(255, 255, 255, 1);
}
input:focus {
    border-radius: 10px;
    border: 1pt solid #578cb5;
}
div {
    /*resize: both;*/
}

.cap{
    background: #578cb5;
    color: #ffffff;
    max-height: 10%;
    height: 50px;
    width: 110%;
    font-size: 70pt;
    margin: 5px;
    margin-top: -1%;
    margin-right: -5px;
    margin-bottom: 0px;
    margin-left: -1%;
    padding: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    outline: medium none;
    outline-width: medium;
    outline-style: none;

}
.parameters {
    min-height: 16em;
    max-height: 60%;
    height: 21em;
    width: 24em;
    max-width: 30%;
    min-width: 19em;
    display: inline;
    float: left;
    padding: 2ex;
    margin: 2em;
    border-radius: 10px;
    border: 1pt solid #578cb5;
    overflow: auto;
    background: rgba(255, 255, 255, 1);
    z-index: 4;
}
.parameters > input {
    max-width: 30%;
    width: 7em;
}
.parameters > label {
    max-width: 60%;
    width: 14em;
}
.parameters > tbody, table, tr, td {
    background: rgba(191, 0, 0, 0);
    padding: 0px;
}
.parameters.parline {
    background: inherit;
    position: relative;
    display: inline;
    float: right;
    margin: 1em;
    width: 100%;
    height: 3.0ex;
    max-height: 5ex;
}
.parline > input {
    position: relative;
    display: inline;
    float: right;
    max-width: 50%;
    height: 2.5ex;
    max-height: 10ex;
    width: 8em;
    margin-top: 2ex;
}
.parline > p {
    position: relative;
    display: inline;
    float: right;
    max-width: 50%;
    height: 2.5ex;
    max-height: 3ex;
    width: 8em;
    margin-top: -1ex;
    margin-bottom: 2ex;
    font-size: 1em;

}
.parline > label {
    position: relative;
    display: inline;
    float: left;
    max-width: 50%;
    height: 2.5ex;
    max-height: 3ex;
    width: 7em;
    margin-top: 2ex;
}
.ok {
    position: relative;
    top: 5%;
    left: 10%;
    min-height: 1em;
    max-height: 20%;
    height: 3em;
    width: 21em;
    max-width: 90%;
    min-width: 17.1em;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
}
.oki {
    position: relative;
    background: #f0d6ab;
    color: #e05e1f;
    border: 1pt solid #F7995C;
    font-weight: bold;
    border-radius: 10px;
}
.ok.output {
    position: relative;
    float: bottom;
    display: block;
    max-height: 20%;
    min-height: 1em;
    height: 3em;
    border-radius: 10px;
    margin: 0px;
    padding: 1px;
}
.parameters + .textcontent{
    max-height: 50%;
    height: 400px;
    max-width: 60%;
    width: 48em;
    display: inline;
    float: right;
    border: 1px solid #578cb5;
    border-radius: 10px;
    margin: 0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    z-index: 9;
}
.textcontent > p {
    position: relative;
    /*margin-left: -10%;*/
    padding-left: 2em;
    min-width: 50%;
    max-width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
}
.content{
    max-width: 50%;
    min-width: 80ex;
    width: 90ex;
    height: 110%;
    margin-left: 25%;
    border: 1pt dashed #578cb5;
}
.content > p {
    width: 100%;
    max-width: 80em;
    margin: 2em;
}
.content > .textcontent {
    position: relative;
    left: -15%;
    bottom: 5%;
    max-width: 50%;
    min-width: 40ex;
    width: 50ex;
    height: 100%;
    padding: 1ex;
    border: 0pt solid red;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0);
}
.textcontent > p{
    width: 100%;
    font-size: 1.5ex;
}
.bubble {
    position: absolute;
    border-radius: 12em;
    background: rgba(191, 227, 186, 0.5);
    padding: 3em;
    width: 12em;
    height: 12em;
    overflow: hidden;
    border: 1pt solid;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    z-index: 0;
    color: #4FA833;
}
.bubble > p{
    color: inherit;
    font-style: italic;
    font-size: 2em;
}
.littlebubble {
    position: absolute;
    border-radius: 8em;
    background: rgba(255, 255, 10, 0.3);
    padding: 2em;
    width: 8em;
    height: 8em;
    overflow: hidden;
    border: 1pt solid;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    z-index: 0;
    /*color: #578cb5;       [> Основной Цвет <]*/
    /*color: #578cb5;*/
    /*color: #633d9c;*/
    /*color: #a6abb5;*/
    /*color: #d4d9db;*/

    /*color: #ffff0a;   [> Вторичный Цвет A <]*/
    /*color: #85a67a;*/
    /*color: #4fa833;*/
    /*color: #bfe3ba;*/
    /*color: #bfe3ba;*/

    /*color: #f7995c;   [> Вторичный Цвет B <]*/
    color: #f7995c;
    /*color: #e05e1f;*/
    /*color: #d9ba8c;*/
    /*color: #f0d6ab;*/
}
.littlebubble > p{
    color: inherit;
    font-style: italic;
}
.tinybubble {
    position: absolute;
    border-radius: 6em;
    padding: 1em;
    width: 6em;
    height: 6em;
    overflow: hidden;
    border: 1pt solid;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    z-index: 0;
    color: #633d9c;
    background: rgba( 99,  61, 156, 0.3);
}
.tinybubble > p{
    color: inherit;
    font-style: italic;
    font-size: 1.5ex;
}
.bigbubble {
    position: absolute;
    border-radius: 16em;
    padding: 3em;
    width: 16em;
    height: 16em;
    overflow: hidden;
    border: 1pt solid;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.7);
    z-index: 0;
    color: #A6ABB5;
    background: rgba(212, 217, 219, 0.3);
}
.bigbubble > p{
    color: inherit;
    font-style: italic;
    font-size: 5ex;
}

