/*colorscheme*/
.primary-0 { color: #578cb5 }       /* Основной Цвет */
.primary-1 { color: #578cb5 }
.primary-2 { color: #633d9c }
.primary-3 { color: #a6abb5 }
.primary-4 { color: #d4d9db }

.secondary-a-0 { color: #ffff0a }   /* Вторичный Цвет A */
.secondary-a-1 { color: #85a67a }
.secondary-a-2 { color: #4fa833 }
.secondary-a-3 { color: #bfe3ba }
.secondary-a-4 { color: #bfe3ba }

.secondary-b-0 { color: #f7995c }   /* Вторичный Цвет B */
.secondary-b-1 { color: #f7995c }
.secondary-b-2 { color: #e05e1f }
.secondary-b-3 { color: #d9ba8c }
.secondary-b-4 { color: #f0d6ab }

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0);
    color: #F7995C;
}

h1 {
    font-size: 50pt;
    color: #ffffff;
    position: fixed;
    left: 25%;
    z-index: 0;
    background: #578cb5;
    position: fixed;
    top: 5px;
}
h2 {
    font-size:1.2em;
    /*color: #93a1a1;*/
}
p {
    font-size: 1em;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
thead {
    font-size:1.2em;
    border: 1px solid #fdf6e3;
    height: 25px;
    max-height: 10%;
    padding: 0px;
}
td, tr {
    padding: 1px;
    border: 1px solid #92a1a1;
    max-height: 15%;
    height: 10px;
    max-width: 90%;
    width: 220px;
    overflow: hidden;
}
form {
    background: #D4D9DB;
}
button {
    max-width: 50%;
    width: 200px;
    max-height: 10%;
    height: 35px;
    position: absolute;
    left: 45%;
    overflow: hidden;
}
input {
    max-width: 100%;
    width: 200px;
    height: 1.5em;
    border: 1px solid #e5e5e5;
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    padding: 0.1em;
    padding-left: 0.5em;
    background: rgba(255, 255, 255, 1);
}
label {
    position: absolute;
    padding: 0.1em;
    padding-left: 0.5em;
    left: 5%;
    top: 5%;
    max-width: 55%;
    width: 250px;
    max-height: 20%;
    height: 1.5em;
    background: #D4D9DB;
    color: #578cb5;
}
div {
    /*resize: both;*/
}

.cap{
    background: #578cb5;
    color: #ffffff;
    max-height: 10%;
    height: 50px;
    width: 110%;
    font-size: 70pt;
    margin: 5px;
    margin-top: -1%;
    margin-right: -5px;
    margin-bottom: 0px;
    margin-left: -1%;
    padding: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    outline: medium none;
    outline-width: medium;
    outline-style: none;

}
.allspace {
    position: absolute;
    opacity: 1;
    top: 7%;
    width: 100%;
    height: 100%;
}
.parameters {
    min-height: 27em;
    max-height: 50%;
    height: 54em;
    width: 23em;
    max-width: 30%;
    display: inline;
    float: left;
    padding: 1em;
    margin: 0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    background: #D4D9DB;
    border-radius: 10px;
}
.parameter {
    position: relative;
    top: 5%;
    left: 55%;
    max-height: 20%;
    width: 200px;
    max-width: 45%;
    border-radius: 1px;
    background: #D4D9DB;
}
.parameters > input {
    position: relative;
    top: 5%;
    left: 55%;
    max-height: 1.5em;
    width: 200px;
    max-width: 40%;
}
.vfill {
    max-height: 50%;
    height: 900px;
    max-width: 20%;
    width: 600px;
    display: inline;
    float: left;
    opacity: 0;
}
.thinvfill {
    max-height: 50%;
    height: 900px;
    max-width: 5%;
    width: 100px;
    display: inline;
    float: left;
    opacity: 0;
}
.labelofpar {
    position: relative;
    top: 10%;
    left: 1%;
    max-height: 20%;
    max-width: 54%;
    width: 200px;
    background: #D4D9DB;
    color: #578CB5;
}
.ok {
    position: relative;
    top: 5%;
    left: 10%;
    max-height: 20%;
    width: 100px;
    min-width: 90%;
    background: #D4D9DB;
    border-radius: 10px;
}
.oki {
    position: relative;
    background: #F0D6AB;
    color: #F7995C;
    border: 1pt solid #F7995C;
    font-weight: bold;
    border-radius: 10px;
}
.outparameters {
    height: 200px;
    max-width: 50%;
    width: 250px;
    display: inline;
    float: left;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    background:#F0D6AB;
    border-radius: 15px;
}
.outparameter {
    position: relative;
    top: 5%;
    left: 0%;
    max-height: 20%;
    width: 300px;
    max-width: 100%;
    border-radius: 1px;
    background:#F0D6AB;
    color: #E05E1F;
}
.bubble {
    position: relative;
    display: inline;
    float: left;
    border-radius: 10em;
    background: rgba(191, 227, 186, 0.5);
    padding: 2em;
    padding-left: 3em;
    width: 10em;
    height: 10em;
    overflow: hidden;
    border: 1pt solid #85A67A;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    z-index: 0;
}
.bubble > p{
    background: rgba(191, 227, 186, 0);
    color: #4FA833;
}
.bubble > table, td, tr {
    background: rgba(191, 227, 186, 0);
    border: 0 solid;
    color: #4FA833;
}
.output {
    position: relative;
    max-height: 50%;
    min-height: 9em;
    height: 18em;
    max-width: 85%;
    width: 250px;
    background: #ffffff;
    color: #578CB5;
    overflow: auto;
    border-radius: 10px;
    margin: 15px;
    padding: 1px;
}
.textcontent{
    max-height: 50%;
    height: 400px;
    max-width: 60%;
    width: 48em;
    display: inline;
    float: right;
    border: 1px solid #578cb5;
    border-radius: 10px;
    margin: 0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    z-index: 9;
}
.textcontent > p {
    position: relative;
    /*margin-left: -10%;*/
    min-width: 50%;
    max-width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
}
.content{
    max-width: 50%;
    width: 80em;
    height: 110%;
    margin-left: 25%;
    border: 1pt solid #578cb5;
}

