/*colorschemes:*/
.blue {
    background: radial-gradient(circle farthest-corner at 90% 90%, #f9eec7, rgb( 87, 140, 181 ), rgb( 87, 140 ,181 ));
    /*background: rgba( 87, 140, 181, 1);*/
}
.gray { background: rgba(166, 171, 181, 1) }
.dark-gray {
    background: #3F5353;
    color: #FCF6E0;
}
.light-gray { background: rgba(212, 217, 219, 1) }
.light-blue {
    background: #EAF4FF;
}
.orange {
    /*background: radial-gradient(circle farthest-corner at 0px 0px, #f9eec7, rgb(247, 153,  92), rgb(247, 153,  92));*/
    background: rgba(247, 153,  92, 1);
}
.yellow { background: rgba(255, 255,  10, 1) }    /* Вторичный Цвет A */
.marsh-green { background: rgba(133, 166, 122, 1) }
.green { background: rgba( 79, 168,  51, 1) }
.light-green { background: rgba(191, 227, 186, 1) }
.terracota { background: rgba(224,  94,  31, 1) }
.sienna { background: rgba(217, 186, 140, 1) }
.beige { background: rgba(240, 214, 171, 1) }
.bloody-red { background: rgba(255,   0,   0, 1) }        /* Основной Цвет */
.muffled-red { background: rgba(191,  48,  48, 1) }
.dark-red { background: rgba(166,   0,   0, 1) }
.light-red { background: rgba(255,  64,  64, 1) }
.pink-red { background: rgba(255, 115, 115, 1) }
.adorable {
    background: radial-gradient( circle at 0% 0%, #f9eec7, rgb(0, 153, 153), rgb(0, 153, 153));
    color: #3F5353;
    /*background: rgb(0, 153, 153);*/
    /*color: #FCF6E0;*/
}    /* Вторичный Цвет A */
.dark-adorable {
    background: rgba( 29, 115, 115, 1);
    color: white;
}
.very-dark-adorable { background: rgba(  0,  99,  99, 1) }
.light-adorable { background: rgba( 51, 204, 204, 1) }
.very-light-adorable { background: rgba( 92, 204, 204, 1) }
.very-light-green { background: rgba(201, 247, 111, 1) }
.violet {
    background: #867194;
    color: white;
}
@font-face {
    font-family: Arkhip;
    src: url("./fonts/Arkhip_font.ttf");
}
html, body, .wrapper {
    height: 100%;
}
* {
    font-family: Arkhip;
    font-size: 1em;
    background: rgba(255, 255, 255, 0);
    /*color: #FCF6E0;*/
}
table, tbody, tr, td {
    color: inherit;
    overflow: hidden;
    width: inherit;
}
h1 {
    font-size: 50pt;
    position: fixed;
    left: 25%;
    z-index: 0;
    background: #578cb5;
    position: fixed;
    top: 5px;
}
h2 {
    font-size:1.2em;
}
p, br, u {
    font-size: 2em;
    font-weight: normal;
    color: inherit;
    overflow: hidden;
}
footer {
    height: 150px;
    width: 100%;
    margin-top: -150px;
    margin-left: -1%;
    padding-left: 2%;
}

form {
    background: inherit;
}
button {
    max-width: 50%;
    width: 200px;
    max-height: 10%;
    height: 35px;
    position: absolute;
    left: 45%;
    overflow: hidden;
}
label {
    position: absolute;
    height: 2em;
    width: 100%;
    font-size: 8pt;
    padding-left: 30%;
    top: 12%;
    opacity: 0.9;
}
input {
    position: relative;
    display: block;
    background: inherit;
    color: inherit;
    height: 2.5em;
    width: 90%;
    margin-top: 0px;
    outline: 0;
    padding: 3%;
    padding-left: 10%;
    padding-bottom: 0%;
    border: 1pt solid #FCF6E0;
    border-radius: 10px;
    font-size: 12pt;
}
input[type=submit] {
    opacity: 1;
    height: 2em;
    padding-left: 10%;
}
input[type=submit]:focus {
    opacity: 1;
    transform: scale(0.95);
}
input:focus {
    border-radius: 8px;
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 5px;
}
input:hover {
    box-shadow: 0 0 5px #FCF6E0;
}
.strip {
    height: 100%;
    width: 100%;
    outline: medium none;
    outline-width: medium;
    outline-style: none;
    overflow: hidden;
}
.strip > div {
    position: relative;
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 40px;
    padding-left: 40px;
    font-size: 20px;
}
.strip > img {
    margin-left: 1%;
    margin-top: 20px;
    height: 150%;
    width: 10%;
}
.rigid {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 9;
}
.narrow {
    height: 100px;
}
.content {
    width: 102%;
    min-height: 100%;
    padding-bottom: 90px;
    margin-left: -1%;
}
#cap {
    padding-top: 55px;
    height: 150px;
    margin-top: -1%;
    font-size: 20pt;
}
#cap > div {
    position: relative;
    display: inline;
    float: left;
    font-size: 10pt;
    margin-top: -55px;
    overflow: hidden;
}
#cap > .lozung {
    position: relative;
    display: inline;
    width: 20%;
    float: left;
    font-size: 30px;
    padding-top: 55px;
    overflow: hidden;
}
#iodata {
    position: relative;
    display: inline;
    float: left;
    margin-right: 1px;
    height: calc( ( 2.5em + 2.5em * 0.04 ) * 7 );
    width: 20%;
    z-index: 1000;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 12pt;
}

#iodata > div {
    position: relative;
    display: inline;
}

.idata {
    float: right;
    width: 50%;
}
.idataitem {
    position: relative;
    display: block;
    left: 0%;
    width: 100%;
    padding: 2%;
}
.odata {
    width: 65%;
    padding: 1%;
    height: 70%;
}

.odata:hover {
    /*transform: scale(1.01);*/
    /*box-shadow: 0 0 1px 1px #FCF6E0;*/
}
.odata > p, br {
    font-size: 12pt;
}

/*animation*/

@keyframes rain {
    to {
        transform: translate(300px, 300px);
    }
}
@keyframes riseset {
    0% {
        background: red;
    }
    6% {
        transform: translate(50px, -114px);
        background: #EEC288;
    }
    12% {
        transform: translate(100px, -213px);
        background: #EEC288;
    }
    19% {
        transform: translate(150px, -276px);
        background: #f9eec7;
    }
    25% {
        transform: translate(200px, -300px);
        background: #fcf6e0;
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    31% {
        transform: translate(250px, -276px);
        background: #f9eec7;
    }
    37% {
        transform: translate(300px, -213px);
        background: #EEC288;
    }
    43% {
        transform: translate(350px, -114px);
        background: #EEC288;
    }
    50% {
        transform: translate(380px, -10px);
        background: red;
    }
    51% {
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes moonmove {
    55% {
        left: 10px;
        top: 390px;
        opacity: 0;
    }
    56% {
        opacity: 1;
        transform: translate(50px, -114px);
    }
    62% {
        transform: translate(100px, -213px);
    }
    69% {
        transform: translate(150px, -276px);
    }
    75% {
        transform: translate(200px, -300px);
    }
    81% {
        transform: translate(250px, -276px);
    }
    87% {
        transform: translate(300px, -213px);
    }
    93% {
        transform: translate(350px, -114px);
    }
    100% {
        transform: translate(380px, -10px);
    }
}
@keyframes day {
    0% {
        background: #3F5353;
    }
    25% {
        background-color: transparent;
    }
    50% {
        background: #3F5353;
    }
    100% {
        background: #3F5353;
    }
}
.window {
    width: 400px;
    height: 400px;
    border: 10px groove #FCF6E0;
    animation-name: day;
    animation-duration: 24s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.drop {
    width: 2px;
    height: 20px;
    border-radius: 20px;
    opacity: 0.5;
    transform: rotate(-45deg);
    animation-name: rain;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.sun {
    position: absolute;
    left: 10px;
    top: 390px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    animation-name: riseset;
    animation-duration: 24s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: none;
    filter: blur(2px);
    overflow: hidden;
    z-index: 0;
}
.moon {
    position: absolute;
    left: 10px;
    top: 390px;
    width: 50px;
    height: 50px;
    background-image: url("./images/halfmoon.png");
    background-color: transparent;
    background-size: cover;
    animation-name: moonmove;
    animation-duration: 24s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(0.3px);
    overflow: hidden;
    z-index: 0;
    opacity: 0;
}
