/*colorschemes:*/
.blue {
    background: radial-gradient(circle farthest-corner at 90% 90%, #f9eec7, rgb( 87, 140, 181 ), rgb( 87, 140 ,181 ));
    /*background: rgba( 87, 140, 181, 1);*/
}
.gray { background: rgba(166, 171, 181, 1) }
.dark-gray { background: #3F5353 }
.light-gray { background: rgba(212, 217, 219, 1) }
.orange {
    /*background: radial-gradient(circle farthest-corner at 0px 0px, #f9eec7, rgb(247, 153,  92), rgb(247, 153,  92));*/
    background: rgba(247, 153,  92, 1);
}
.yellow { background: rgba(255, 255,  10, 1) }    /* Вторичный Цвет A */
.marsh-green { background: rgba(133, 166, 122, 1) }
.green { background: rgba( 79, 168,  51, 1) }
.light-green { background: rgba(191, 227, 186, 1) }
.terracota { background: rgba(224,  94,  31, 1) }
.sienna { background: rgba(217, 186, 140, 1) }
.beige { background: rgba(240, 214, 171, 1) }
.bloody-red { background: rgba(255,   0,   0, 1) }        /* Основной Цвет */
.muffled-red { background: rgba(191,  48,  48, 1) }
.dark-red { background: rgba(166,   0,   0, 1) }
.light-red { background: rgba(255,  64,  64, 1) }
.pink-red { background: rgba(255, 115, 115, 1) }
.adorable {
    background: radial-gradient( circle at 0% 0%, #f9eec7, rgb(0, 153, 153), rgb(0, 153, 153));
    background: rgb(0, 153, 153);
    color: #FCF6E0;
}    /* Вторичный Цвет A */
.dark-adorable {
    background: rgba( 29, 115, 115, 1);
    color: white;
}
.very-dark-adorable { background: rgba(  0,  99,  99, 1) }
.light-adorable { background: rgba( 51, 204, 204, 1) }
.very-light-adorable { background: rgba( 92, 204, 204, 1) }
.very-light-green { background: rgba(201, 247, 111, 1) }
.violet {
    background: #867194;
    color: white;
}
@font-face {
    font-family: Arkhip;
    src: url("./fonts/Arkhip_font.ttf");
}
html, body, .wrapper {
    height: 100%;
}
* {
    font-family: Arkhip;
    font-size: 1em;
    background: rgba(255, 255, 255, 0);
    color: #FCF6E0;
}
table, tbody, tr, td {
    color: inherit;
    overflow: hidden;
    width: inherit;
}
h1 {
    font-size: 50pt;
    position: fixed;
    left: 25%;
    z-index: 0;
    background: #578cb5;
    position: fixed;
    top: 5px;
}
h2 {
    font-size:1.2em;
}
p, br, u {
    font-size: 2em;
    font-weight: normal;
    color: inherit;
    overflow: hidden;
}
footer {
    height: 150px;
    width: 50%;
    margin-top: -150px;
    margin-left: 10%;
}

form {
    background: inherit;
}
button {
    max-width: 50%;
    width: 200px;
    max-height: 10%;
    height: 35px;
    position: absolute;
    left: 45%;
    overflow: hidden;
}
label {
    position: absolute;
    height: 2em;
    width: 100%;
    font-size: 10pt;
    padding-left: 30%;
    top: 12%;
    opacity: 0.9;
}
input {
    position: relative;
    display: block;
    background: inherit;
    color: inherit;
    /*opacity: 0.7;*/
    height: 2.5em;
    width: 90%;
    margin-top: 0px;
    outline: 0;
    padding: 3%;
    padding-left: 20%;
    padding-bottom: 0%;
    border: 1pt solid #FCF6E0;
    border-radius: 10px;
}
input[type=submit] {
    opacity: 1;
    height: 2em;
    padding-left: 10%;
}
input[type=submit]:focus {
    opacity: 1;
    transform: scale(0.95);
}
input:focus {
    border-radius: 8px;
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 5px;
}
input:hover {
    box-shadow: 0 0 5px #FCF6E0;
}
.strip {
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 2%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 20%;
    outline: medium none;
    outline-width: medium;
    outline-style: none;
    overflow: hidden;
}
.strip > div {
    position: relative;
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.strip > img {
    margin-left: 1%;
    margin-top: 20px;
    height: 150%;
    width: 10%;
}
.rigid {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 9;
}
.narrow {
    height: 100px;
}
.content {
    /*position: relative;*/
    /*display: block;*/
    width: 50%;
    left: 10%;
    min-height: 100%;
    padding-bottom: 90px;
    margin-left: 10%;
    /*height: calc( 100% - 350px );*/
    /*margin-bottom: 1px;*/
    /*margin-top:1px;*/
    /*min-height: calc( 100% - 200px );*/
}
#cap {
    padding-top: 55px;
    padding-bottom: 10px;
    padding-left: 50px;
    height: 150px;
    margin: 1%;
    margin-top: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    margin-left: -1%;
    font-size: 20pt;
}
#iodata {
    position: fixed;
    left: 60%;
    height: 300px;
    width: 30%;
    margin: 10px;
    opacity: 0.9;
    z-index: 1000;
    border-radius: 10px;
}

#iodata + div {
    position: relative;
    display: inline;
    border: 1pt solid #f9eec7;
}

.idata {
    float: right;
    width: 40%;
}

.idataitem {
    position: relative;
    display: block;
    left: 0%;
    width: 100%;
    padding: 2%;
}
.odata {
    width: 65%;
    padding: 1%;
    height: 100%;
}

.odata:hover {
    /*transform: scale(1.01);*/
    /*box-shadow: 0 0 1px 1px #FCF6E0;*/
}
.odata > p, br {
    font-size: 14pt;
}

